.document-folders {
    margin: 2rem 0;
}

.folder {
    margin: 1.5rem 0;
}

.folder-head {
    border: 1px solid #000;
    padding: 1rem 3rem 1rem 1rem;
    position: relative;
    cursor: pointer;
}

.folder-title {
    margin: 0;
}

.folder-toggle {
    border: none;
    display: block;
    height: 0;
    width: 0;
}

.folder-toggle:after {
    content: url(../font-awesome/advanced-options/raw-svg/solid/chevron-down.svg);
    position: absolute;
    text-align: center;
    top: 50%;
    right: 1rem;
    height: 1rem;
    line-height: 1rem;
    width: 1rem;
    transform: translateY(-50%);
}

.active .folder-toggle:after {
    content: url(../font-awesome/advanced-options/raw-svg/solid/chevron-up.svg);
}

.folder-content {
    transition: all 0.5s ease-in-out;
    max-height: 0;
    overflow-y: hidden;
}

.active .folder-content {
    max-height: 100em;
}

.folder-content ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.folder-content li {
    border: 1px solid #000;
    margin: 2px 0;
    padding: 0.5rem 2rem;
}

.document-login-form {
    border: 1px solid #000;
    margin: 2rem 0;
    padding: 1rem;
}
